{% extends "default.twig" %}

{% block content %}
<h2>Hola desde la Acci贸n: {{ accionEjecutada }}</h2>
<ul>
    <li><a href="{{ url(action='index') }}">Ir a la acci贸n index()</a></li>
    <li><a href="{{ url(action='to_action') }}">Ir a la acci贸n toAction()</a></li>
    <li><a href="{{ url(action='forward') }}">Ir a la acci贸n forward()</a></li>
</ul>
{% endblock %}