{% extends "default.twig" %}

{% block content %}
<h3>Parte Segura de la Aplicación <a href="{{ url('logout') }}" class="pull-right">Cerrar Sesión</a></h3>
{% include 'messages.twig' %}
<p>Información del Usuario {{ dump(usuario) }} </p>
{% endblock %}