[submodule "vendor/k2/activerecord"]
	path = vendor/k2/activerecord
	url = git://github.com/manuelj555/activerecord.git
[submodule "vendor/k2/core"]
	path = vendor/k2/core
	url = git://github.com/manuelj555/Core.git
