.exception_trace {border: solid gray 1px;font-size: 1em;overflow: auto;border-radius: 5px;background-color: #fff;padding: 5px}
.trace .exception_trace{display: none;margin: 10px 30px}
.exception_highlight {background-color: #F1F1C4;font-weight: bold}
.trace{cursor: pointer}
.exception{padding:1em;}
.exception h2 {background-color: #17325C;padding: 6px;margin: 10px 0 10px;color:#fff;border-radius: 5px;text-shadow:1px 1px 1px rgba(255, 255, 255, 0.8)}
.exception em {color: black;}
.solution {background-color: lime;}
.well{background-color: #EFEFEF;border-radius: 5px;padding: 20px;margin-bottom: 10px;color: #17325C;border: 1px solid #B6B6B6}
.trace.well{padding: 10px;color: #222}
code{white-space: nowrap}
.exception table{width: 100%;color: #000;background-color: #EFEFEF;border: 1px solid #B6B6B6;border-radius: 10px;margin-top: 10px}
