/* normalize.css */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block}audio,canvas,video{display:inline-block;*display:inline;*zoom:1}audio:not([controls]){display:none}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}html,button,input,select,textarea{font-family:"Helvetica Neue", Helvetica, Arial, sans-serif}body{margin:0}a:focus{outline:thin dotted}a:hover,a:active{outline:0}h1{font-size:2em;margin:0.67em 0}h2{font-size:1.5em;margin:0.83em 0}h3{font-size:1.17em;margin:1em 0}h4{font-size:1em;margin:1.33em 0}h5{font-size:0.83em;margin:1.67em 0}h6{font-size:0.75em;margin:2.33em 0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}blockquote{margin:1em 40px}dfn{font-style:italic}mark{background:#ff0;color:#000}p,pre{margin:1em 0}pre,code,kbd,samp{font-family:monospace, serif;_font-family:'courier new', monospace;font-size:1em}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}q{quotes:none}q:before,q:after{content:'';content:none}small{font-size:75%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}dl,menu,ol,ul{margin:1em 0}dd{margin:0 0 0 40px}menu,ol,ul{padding:0 0 0 40px}nav ul,nav ol{list-style:none;list-style-image:none}img{border:0;-ms-interpolation-mode:bicubic}a img{border:0}svg:not(:root){overflow:hidden}figure{margin:0}form{margin:0}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em}legend{border:0;padding:0;white-space:normal;*margin-left:-7px}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}button,input{line-height:normal}button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;*overflow:visible}button[disabled],input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}

html{background-color: #EFEFEF}
/* Grid */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.pull-right{float: right !important}
.row {
  margin: 0 auto;
  max-width:1000px;
  padding:0 10px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

[class*='span'] {
  float: left;
  padding-right: 20px;
}
.row [class*='span']:last-of-type {
  padding-right: 0;
}
.span10{width:87.5%}
.span9{width:75%}
.span8{width:66.66%}
.span7{width:58.33%}
.span6{width:50%}
.span5{width:41.66%}
.span4{width:33.33%}
.span3{width:25%}
.span2{width:12.5%}

.module {
  padding: 20px;
  background: #eee;
}

/* Opt-in outside padding */
.row-pad {
  padding: 20px 0 20px 20px;
}
.row-pad [class*='span']:last-of-type {
  padding-right: 20px;
}

body {
  background: #FFF;
  color:#666;
  font-size:15px;
  line-height:1.4em
}

h1,h2,h3{color:#333}
img, object, embed{max-width:100%;height:auto}
img{-ms-interpolation-mode:bicubic}
/************Kumbia*******************/

header{background: #300}
footer {
    margin-top: 1em;
    padding-top: 1em;	
    border-top: 1px solid #ccc;
    background: #efefef;
}
#content{margin-top:50px}

nav{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  background:#FFF;
  border-bottom:3px solid red;
  height: 50px;
}
.menu{float:right;margin:0}
.menu li{
 float:left;
  height:2em;
  list-style:none outside none;
  margin:0;
  padding:0;
 position:relative
  
}
.menu a{
  display:block;
  color:#888;
  line-height:47px;
  margin:0;
  padding:0 10px;
  text-decoration:none;
  //text-shadow:0 1px 0 rgba(0,0,0,.5)
}
.logo{color:red;font-weight:700;text-transform:uppercase;letter-spacing:3px;font-size:1.3em;line-height:47px;text-decoration:none;display:block;padding:0 1em}
.menu a:hover, .menu a:active, .menu a:focus,a.logo:hover{background:#EEE;color:red}
.btn-large {
display: inline-block;
padding: 18px 40px;
color: white;
font-size: 20px;
font-weight: 700;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
text-decoration: none;
line-height: 1;
background-color: #F26629;
background-image: -moz-linear-gradient(top, #F95E0C 0%, #E53003 100%);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F95E0C), color-stop(100%,#E53003));
background-image: -webkit-linear-gradient(top, #F95E0C 0%,#E53003 100%);
background-image: -o-linear-gradient(top, #F95E0C 0%,#E53003 100%);
background-image: -ms-linear-gradient(top, #F95E0C 0%,#E53003 100%);
background-image: linear-gradient(to bottom, #F95E0C 0%,#E53003 100%);
border-radius: 3px;
box-shadow: inset 0 1px 0 rgba(255, 255, 255, .4), 0 5px 5px rgba(0, 0, 0, .2);
}
.btn-large:hover {
color: white;
background-color: #FF7234;
background-image: -moz-linear-gradient(top, #F95E0C 0%, #CD2A02 100%);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F95E0C), color-stop(100%,#CD2A02));
background-image: -webkit-linear-gradient(top, #F95E0C 0%,#CD2A02 100%);
background-image: -o-linear-gradient(top, #F95E0C 0%,#CD2A02 100%);
background-image: -ms-linear-gradient(top, #F95E0C 0%,#CD2A02 100%);
background-image: linear-gradient(to bottom, #F95E0C 0%,#CD2A02 100%);
}

.container-top {
    color: #fff;
    margin-bottom: 1em;
    padding-top:.5em
}

.container-top h1, .container-top h2 {
    color: #FA0;    
}

.container-bottom {
    margin-bottom: 50px;
}

/********************************* ICONOS *******************/

.leftContent {
    padding: 5px 0 0 65px;
}
.ico_modelo {
    background:url(../img/iconos/ico_modelo.png) no-repeat 0 25px;
}
.ico_soporte {
    background:url(../img/iconos/ico_soporte.png) no-repeat 0 25px;
}
.ico_soporte2 {
    background:url(../img/iconos/ico_soporte2.png) no-repeat 0 25px;
}
.ico_form {
    background:url(../img/iconos/ico_form.png) no-repeat 0 25px;
}
.ico_image {
    background:url(../img/iconos/ico_image.png) no-repeat 0 25px;
}
.ico_cache {
    background:url(../img/iconos/ico_cache.png) no-repeat 0 25px;
}
.ico_scaffold {
    background:url(../img/iconos/ico_scaffold.png) no-repeat 0 25px;
}
.ico_seguridad {
    background:url(../img/iconos/ico_seguridad.png) no-repeat 0 25px;
}

/********************************* PAGE DOWNLOADS *******************/

.download-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
 
.download-list li {
    line-height: 2;
    height: 2em;
    border-bottom: 1px solid #ccc;
}




/********************************* Responsive *******************/
@media (max-width: 600px) {
    nav{position:static !important;height:auto}
  	[class*='span'] {width:100%;padding:0 10px}
  	footer .stButton { margin-bottom: 5px }
    #content{margin-top:0}
    .page-header { width: 90%; margin: 0 10px}
}

@media (min-width: 980px) {
    body{padding-top:0}   
}


/* Formatea los mensajes Flash::xxx() de KumbiaPHP */
.flash {
	border: 1px solid;
	margin: 1px 0;
	min-height: 32px;
	padding:3px 10px 3px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
}

.error {
	color: #D8000C;
	background-color: #FFBABA;
	background-image: url('../img/default/error.png');
}

.info {
	color: #00529B;
	background-color: #BDE5F8;
	background-image: url('../img/default/info.png');
}

.valid {
	color: #4F8A10;
	background-color: #DFF2BF;
	background-image:url('../img/default/valid.png');
}
.warning {
	color: #9F6000;
	background-color: #FEEFB3;
	background-image: url('../img/default/warning.png');
}

.highlight {
	background: #FFFFDF;
}


