<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="{{ _charset }}" />
        <title>K2Framework</title>
        {% block css %}
        <link rel="stylesheet" href="{{ asset('css/structure.css') }}" type="text/css" />
        {% endblock %}
    </head>
    <body>
        {% block body %}
        <header class="container-top">
            <div class="row"><h1><a href="{{ url('') }}">K2Framework</a><small>
                <a href="{{ url('pages/show/kumbia/status') }}" class="pull-right">Config</a></small></h1>                          </div>
        </header>
        <div class="row">
            {% include 'messages.twig' %}
            {% block content '' %}
        </div>
        {% include 'footer.twig' %}
        {% endblock %}
        {% block javascript %}
        {% endblock %}
    </body>
</html>

