{% extends "scaffolds/" ~ scaffold ~ "/base.twig" %}

{% block scaffold_content %}
<form method="post" action="{{ url() }}">
{{ form|raw }}
<input type="submit" value="Guardar" class="btn" />
</form>
<div class="actions">
    <a href="{{ url(action="index") }}">Listado</a>
</div>
{% endblock %}
