{% extends "scaffolds/" ~ scaffold ~ "/base.twig" %}

{% block scaffold_content %}
{{ dump(model.metadata.attributes|keys) }}
<div class="actions">
    <a href="{{ url(action="index") }}">Listado</a>
</div>
{% endblock %}
