{% extends "@Demos_Vistas/mi_template.twig" %}

{% block content %}
<h3>Otra Acción</h3>
<p>Hola {{ tuNombre }}...!!!</p>
<p>La palabra <b>{{ tuNombre }}</b> viene de la Url por si no lo has notado, prueba a cambiarla</p>
{% endblock %}
